body{
margin: 0px auto;
background-color:#000;
color:#000;
font-size:12px;
}

div{
/*border:1px dashed #fff;*/
}

#DivMain{
width:800px;
position: relative;
left: 50%;
margin-left: -400px; /* half of width */
background-image:url('../img/bg2.jpg');
}

#DivTop {
height:91px;
}
 
#DivContainer{
height:509px;
}
 
#DivLeft{
width:170px;
height:100%;
float:left;
}

#DivLeftTop{
height:126px;
margin:20px 20px 0px 20px;
}

#DivLeftFooter{
height:260px;
margin:35px 20px 0px 20px;
/*add by persist*/
font-size:14px;
color:#00c;
}
 
#DivContent{
float:left;
width:580px;
height:415px;
margin:20px 0px 0px 20px;
overflow-y:auto;
overflow-x:hidden;
}
/* 
#DivFooter{
clear:both;
}*/

a{
margin: 0px auto;
}

a img{
/*margin-right:-3px;*/
border:none;
FILTER: Alpha(opacity=100);
opacity: 1;
}

a:hover img{
FILTER: Alpha(opacity=70);
opacity: 0.7;
}

a{color:#000;}
a:hover{color:#000;}
a:visited{color:#000;}


table{
border:2px solid #333;
text-align:left;
width:99%;
*width:97%; /* for ie */
font-size:12px;
}

thead{
background-color:#999;
color:#000;
}

tr.ARow{background-color:#fff;}
tr.BRow{background-color:#ccc;}
tr.ARow:hover td,
tr.BRow:hover td{
border:1px solid #fff;
background-color:#000;
color:#fff;
}

tr.ARow:hover td a,tr.BRow:hover td a{color:#fff;}

td{
padding:2px 10px 2px 10px;
}

th{
text-align:center;
border:1px solid #333;
padding:5px 10px 5px 10px;
}

td{
border:1px solid #333;
}

td.BookCheck{
text-align:center;
background-color:#999;
width:5%;
*width:10%;
}

td.BookPrice{
text-align:right;
}

.SubMenu{
border:none;
}

.SubMenu td{
border:1px dashed #933;
font-weight:bold;
}
.SubMenu tr a{color:#933;}
.SubMenu tr:hover a{color:#000;}
.SubMenu tr:hover td{border:1px solid #933;}

input[type='button'],
input[type='submit'],
button{
border:1px solid #333;
background-color:#fff;
color:#333;
padding:1px;
margin:5px;
}

input[type='button']:hover,
input[type='submit']:hover,
button:hover{
background-color:#ccc;
}

input[type='text'],
input[type='password']{
border:1px solid #333;
background-color:#E9E9E9;
color:#333;
}

/* 公告 */

.AnnCategory{
text-align:center;
width:4em;
}
.AnnAuthor{
text-align:center;
width:6em;
}

/* 考古題 */

.ExamCategory{border:2px dotted #666;}
.ExamCategory td {
background-color:#999;
border:none
}
.ExamCategory td:hover{background-color:#333;}
.ExamCategory td:hover a{color:#fff;}


/* 訂書系統 */

#DivLeftFooter strong{color:#933}
#DivLeftFooter em{text-decoration:underline}
#DivContent span.note{vertical-align:middle;color:#666;}


/* 系服訂購 */
.hiddenTable{display:none}

.ClothCheck{
width:3em;
text-align:center;
}

.ClothAuthor,.ClothPic{text-align:center;}

/* 首頁相簿RSS */

.rss_item img{
width:75px;
height:75px;
}

p b a.rss_item{display:none !important;}

ul li a.rss_item{
display:block;
}
ul li.rss_item{
float:left;
width:100px;
border:2px solid #666;
margin:5px;
padding:5px;
text-align:center;
}

ul li.rss_item:hover{border:2px solid #333;}

ul li.rss_item:hover img{
width:80px;
height:80px;
}
